<%= simple_form_for @order do |f| %>
  <div class="text-center">
    <%= f.simple_fields_for :formula do |formula| %>
      <%= formula.input :id, label: 'Formule', collection: @formulas, as: :radio_buttons, checked: 2 %>
    <% end %>
    <%= f.input :temperature, collection: temperatures, as: :radio_buttons, checked: temperatures[1] %>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= f.input :pickup_start_date, as: :string, label: "Récupération le", placeholder: "Quel jour ?", input_html: { 'data-date-format' => "YYYY-MM-DD" } %>
    </div>

    <div class="col-xs-6">
      <%= f.input :pickup_bracket, as: :select, label: "Heure", prompt: "Quelle heure ?" %>
    </div>

    <div class="col-xs-6">
      <%= f.input :delivery_start_date, as: :string, label: "Retour le", placeholder: "Quel jour ?", input_html: { 'data-date-format' => "YYYY-MM-DD" }%>
    </div>

    <div class="col-xs-6">
      <%= f.input :delivery_bracket, as: :select, label: "Heure", prompt: "Quelle heure ?" %>
    </div>

  </div>
  <div class="text-center">
    <%= f.submit 'COMMANDER', class: "btn btn-primary btn-lg col-xs-12 button-order" %>
  </div>
<% end %>

<%= content_for(:js) do %>
  <script>
    $(document).ready(function(){
      $('#order_pickup_start_date').datetimepicker({
        pickTime: false
      });
      $('#order_delivery_start_date').datetimepicker({
        pickTime: false
      });
    });
  </script>
<% end %>
