
<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <div class="orders">

<h3 class="text-center">Commandes de <%= @profile.first_name %> sont </h3>
<ul>
  <% @orders.each do |order| %>
    <li>Commande n°<%= order.id %></li>
    <li>Caractérisiques de la commande : <%= order.temperature %></li>
    <li> Date de récupération du linge : <%= order.pickup_start_date %></li>
    <li> Date de livraison du linge : <%= order.delivery_start_date %></li>
    <br>
  <% end %>
</ul>

      </div>
    </div>
  </div>
</div>
