<div class="container text-center">
  <h1>Récapitulatif de votre commande !</h1>

  <div class="row">
    <div class="col-xs-6">
      <h3>Vos informations</h3>
      <p><%= @profile.first_name %> <%= @profile.last_name %></p>
      <p>Votre téléphone : <%= @profile.phone %></p>
      <p>Votre adresse : <%= @profile.address %>, <%= @profile.postal_code %>, <%= @profile.locality %></p>
    </div>
    <div class="col-xs-6">
      <p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10500.764216557056!2d2.3542696776684813!3d48.854567091863665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1418296978110" width="600" height="300" frameborder="0" style="border:0"></iframe>
      </p>
    </div>

    <div class="row">
      <h3>Votre récapitulatif commande</h3>
    </div>
  </div>

  <p>Température : <%= @order.temperature %></p>
  <p>Nous passons récupérer votre linge le <strong><%= @order.pickup_start_date.strftime("%d/%m/%Y") %></strong> à partir de <%= @order.pickup_start_date.strftime("%H:%M") %> pendant un créneau de 30 minutes.</p>

  <p>Vous récupérez votre linge propre et sec <strong><%= @order.delivery_start_date.strftime("%d/%m/%Y") %></strong> à partir de <%= @order.delivery_start_date.strftime("%H:%M") %> pendant un créneau de 30 minutes.</p>
</div>