<div class="container">
  <h1>Récapitulatif de votre commande !</h1>

  <h1><%= @pickup_start_date %></h1>

  <div class="row">
    <div class="col-xs-6">
      <h3 class="text-center">Vos informations</h3>
      <p><i class="fa fa-user"></i> <%= @profile.first_name %> <%= @profile.last_name %></p>
      <p><i class="fa fa-phone"></i> <%= @profile.phone %></p>
      <p><i class="fa fa-map-marker"></i> <%= @profile.address %>, <%= @profile.postal_code %>, <%= @profile.locality %></p>
      <h3 class="text-center">Votre récapitulatif commande</h3>
      <p>Poid : 6kg</p>
      <p>Température : <%= @order.temperature %></p>
      <p><i class="fa fa-calendar"></i> Nous passons récupérer votre linge le <strong><%= @order.pickup_start_date %>
      </strong><br>
      <i class="fa fa-clock-o"></i> entre <strong><%= @order.pickup_start_time %></strong> et <strong><%= @order.pickup_start_date %></strong>
    </p>

      <p><i class="fa fa-calendar"></i> Vous récupérez votre linge propre et sec <strong><%= @order.delivery_start_date %></strong><br>
        <i class="fa fa-clock-o"></i> entre <strong><%= @order.delivery_start_date %></strong>
        et <strong><%= @order.delivery_start_date %></strong></p>
      <p>PRIX : <%= @order.formula.price %>€</p>
    </div>
    <div class="col-xs-6 ">
      <div class="show-div show-caracteristics">
          <div class="text-center">
            <h3>Where I live !</h3>
          </div>
          <div id="map" style='width: 100%; height: 280px;'></div>
        </div>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers([
              { "lat": <%= @order.user.profile.latitude %>, "lng": <%= @order.user.profile.longitude %> }
            ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(13);
        });
      })
  <% end %>
<% end %>