<%= content_for(:title) do %>
  Washed - Nous lavons vos vêtements
<% end %>

  <div class="jumbotron text-center">
    <div class="lead">
      <h1>BYE BYE la corvée !</h1>
      <h3>Nous récupérons vos vêtements <strong>chez vous</strong> et vous les livrons <strong>propres</strong> et <strong>secs.</strong> </h3>
      <p><%= link_to "Laver 6kg pour seulement 6 €", new_order_path, class: "btn btn-primary btn-lg" %></p>
    </div>
    <br>
    <br>
      <div class="row">
        <div class="paris text-center">
          <p> Service disponible uniquement <br> sur Paris intra-muros</p>
        </div>
      </div>
  </div>

  </div>

<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="features">
        <h4>RÉCUPERATION</h4>
        <%= image_tag ('etape1_washed.png') %>
        <p>Nous récupérons à <strong>votre domicile</strong>, et quand vous le <strong>souhaitez</strong>, votre sac de linges à nettoyer.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="features">
        <h4>NETTOYAGE</h4>
        <%= image_tag ('etape2_washed.png') %>
        <p>Nous <strong>nettoyons</strong> et <strong>séchons</strong> vos vêtements dans notre laverie.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="features">
        <h4>LIVRAISON</h4>
        <%= image_tag ('etape3_washed.png') %>
        <p>Nous vous <strong>livrons</strong> vos vêtements chez vous <strong>quand vous le souhaitez !</strong></p>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
</div>


<div class="comments light-grey">
  <div class="container text-center">
    <h3>Nos utilisateurs en parlent</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="comment">
          <div class="border">
          <%= image_tag ('review_washer_benoit.jpg') %></div>
          <p>Je viens d'utiliser pour la première fois votre service et c'est juste top ! Merci !</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="comment">
          <div class="border">
          <%= image_tag ('review_washer_camille.jpg') %></div>
          <p>Washed s'occupe de faire mes machines : une corvée en moins, du temps pour moi en plus !</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="comment">
          <div class="border">
          <%= image_tag ('review_washer_cristian.jpg') %></div>
          <p>On essaye une fois, et on ne peut plus s'en passer.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="comment">
          <div class="border">
          <%= image_tag ('review_washer_coline.jpg') %></div>
          <p>Avant j'allais à la laverie mais ça c'était avant.. Merci washed !</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

<div class="container text-center">
  <div class="row counter">
    <div class="col-xs-3">
      <h2>2160</h2>
      <h4>cycles de machines</H4>
    </div>
    <div class="col-xs-3">
      <h2>54</h2>
      <h4>Bidons de lessive</H4>
    </div>
    <div class="col-xs-3">
      <h2>4320</h2>
      <h4>Trajets en scooter</H4>
    </div>
    <div class="col-xs-3">
      <h2>1648</h2>
      <h4>Clients contents</H4>
    </div>
  </div>
</div>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

<div class="light-grey">
  <div class="container">
    <div class="spacer"></div>
    <div class="row text-center">
      <div class="col-xs-12">
        <h3>Est-ce ce que Washed est disponible dans mon quartier ?</h3>
        <p>Nous sommes actuellement disponibles dans Paris intra-muros.</p>
        <%= image_tag ('paris_intramuros_map.png'), class: "img-responsive" %>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
  </div>
</div>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

<div class="row text-center">
  <div class="col-xs-12">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <h3>La première machine est gratuite !</h3>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
  </div>
  <div class="col-xs-12">
    <%= link_to "Je m'inscris maintenant", new_order_path, class: "btn btn-primary btn-lg" %>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
  </div>
</div>


<% content_for(:js) do %>
  <script>
   $(document).ready(function() { mixpanel.track("Page loaded", {"Page Name": "home page"});
    });
  </script>
<% end %>
