<%= content_for(:title) do %>
  Washed - Connexion
<% end %>

<%= render 'layouts/form_wrapper_beginning' %>

<h2>Connexion</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.email_field :email, autofocus: true %>
  <%= f.password_field :password, autocomplete: "off" %>

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %>
  <% end -%>

  <%= f.submit "Connexion" %>
<% end %>
<br>
<%= render "devise/shared/links" %>

<%= render 'layouts/form_wrapper_end' %>