<div class="container text-center">
<p>
  de <%= @order.pickup_start_time %>
  <%= @order.delivery_start_time %>
  Hello <%= @order.user.profile.first_name %>,<br>
  Ta commande est confirmée, voici ce que tu as commandé : <br>
  Une cycle de machine de <%= @order.temperature %>. <br>
  Ton adresse : <%= @order.user.profile.address %>, <%= @order.user.profile.postal_code %> <%= @order.user.profile.locality %><br>
  Nous passons récupérer votre linge le <strong><%= @order.pickup_start_date %></strong> de <%= @order.pickup_start_date %> à <strong><%= @order.pickup_start_date %></strong>
  <p>Vous récupérez votre linge propre et sec <strong><%= @order.delivery_start_date %></strong> de <%= @order.delivery_start_date %> à <strong><%= @order.delivery_start_date %></strong>.</p>
</p>
</div>