<html>
  <body>
      <h1>
        Hello <%= @order.user.profile.first_name %>,
      </h1>

      <p>
        Félicitations, ta commande est confirmée !
      </p>

      <p>
        Tu trouveras ci-dessous le récapitulatif de celle-ci :
      </p>

      <p>
        Une cycle de machine à <strong><%= @order.temperature %></strong>.
      </p>

      <p>
        Poids de ton linge : <strong>6kg</strong>.
      </p>

      <p>
        Une formule <strong><%= @order.formula.name %></strong> pour
        <% if @order.formula.id == 3 %>
        <strong>6,90€</strong>
        <% else %>
        <strong>9,90€</strong>
        <% end %>
      </p>

      <p>
        Récupération : <br>
        le <strong><%= @order.pickup_start_date.strftime("%d/%m/%Y") %></strong> entre <strong><%= @order.pickup_bracket %></strong>.
      </p>

      <p>
        Retour : <br>
        le  <strong><%= @order.delivery_start_date.strftime("%d/%m/%Y") %></strong> entre <strong><%= @order.delivery_bracket %></strong>.
      </p>

      <p>
        Ton adresse : <strong><%= @order.user.profile.address %>, <%= @order.user.profile.postal_code %> <%= @order.user.profile.locality %></strong>.
      </p>

      <h3>Prépare ton sac de linge sale, nous chauffons les machines !</h3>

      <p>
        PS: Nous avons 3 conseils à te donner pour ta machine. Le premier est de <strong>ne pas surcharger ton sac de linge</strong>, nos machines ont une capacité de 6kg, en mettant cette quantité ton linge pourra respirer dans la machine. Le deuxième est de faire <strong>attention à tes vêtements fragiles</strong> (comme la laine), nous essorons tes vêtements à 900 tours/minute et ce n'est pas conseiller de les mettre en machine. Le troisème est de bien penser à <strong>retourner tes vêtements</strong> (jeans, pantalons, pulls) pour ne pas subir de décoloration.
      </p>
    </div>
  </body>
</html>