<footer class="darkblue-washed">
  <div class="container text-center">
    <div class="spacer"></div>
    <div class="row">
      <div class="col-xs-3">
        <h4>Washed</h4>
        <ul class="list-unstyled">
          <li><%= link_to 'Inscription', new_user_registration_path %></li>
          <li><%= link_to 'Connexion',  user_session_path %></li>
          <li><%= link_to 'Faq', faq_page_path, target: "_blank" %></li>
        </ul>
      </div>

      <div class="col-xs-3">
        <h4>Contact</h4>
        <ul class="list-unstyled">
          <li><%= link_to 'Service Client', contact_page_path %></li>
          <li><%= link_to 'Mail', "mailto:contact@washed.fr" %></li>
        </ul>
      </div>

      <div class="col-xs-3">
        <h4>Conditions</h4>
        <ul class="list-unstyled">
          <li><%= link_to 'CGU', cgu_page_path %></li>
          <li><%= link_to 'Mentions Légales', "#" %></li>
        </ul>
      </div>

      <div class="col-xs-3">
          <%= link_to "http://www.facebook.com", target: "_blank" do %>
            <i class="fa fa-facebook-square fa-5x"></i>
          <% end %>
          <%= link_to "http://www.twitter.com", target: "_blank" do %>
            <i class="fa fa-twitter-square fa-5x"></i>
          <% end %>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
</footer>